.allSubjectMain {
    max-width: 100vw;
    width: 100%;
    color: #000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.allSubjectMain h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.2rem;
    padding: 0.2rem;
}

.allSubjectTable {
    align-self: center;
    max-width: 95vw;
    /* width: 90%; */
    /* border: 1px solid red; */
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .adminSubjectTable{
    border: 1px solid hotpink;
} */

.adminSubjectTableRow{
    border-bottom: 1px dashed #000;
}

.adminSubjectTableRow:hover {
    background-color: #d2e9f9;
}

.adminSubjectTableHead {
    /* border: 1px solid red; */
    min-width: 12vw;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    background-color: #030955;
    color: #fff;
    border: hidden;
}

.adminSubjectTableData {
    /* border: 1px solid greenyellow; */
    min-width: 12vw;
    padding: 1rem;
    text-align: center;
    /* font-size: 1rem; */
    font-weight: 500;
}

.tablePageButtons{
    /* border: 1px solid gold; */
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nAndpButtons{
    margin: 0.2rem 3rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
} */

/* .pageNoDetails{
    margin: 0.2rem 2rem;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
}

.actionBtn{
    margin: 0 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
}

.actionBtn img{
    height: 100%;
    width: 100%;
} */

/* Responsive CSS */
@media (min-width: 320px) and (max-width: 480px){
    .allSubjectMain{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .allSubjectMain h2 {
        font-size: 1.6rem;
    }

    .allSubjectTable {
        max-width: 100vw;
        padding: 0.1rem;
    }

    .adminSubjectTableHead {
        min-width: 8vw;
        padding: 0.5rem 0.2rem;
        font-size: 0.8rem;
    }

    .adminSubjectTableData {
        min-width: 8vw;
        padding: 0.5rem 0.2rem;
        /* text-align: center; */
        font-size: 0.7rem;
    }

    .tablePageButtons{
        padding: 0.5rem;
        margin: 0.2rem;
    }
    .nAndpButtons {
        margin: 0.2rem 1rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .pageNoDetails {
        margin: 0.2rem 1rem;
        padding: 0.2rem;
        font-size: 1rem;
    }

    .tableActions {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .actionBtn {
        height: 0.4rem;
        width: 0.4rem;
    }

    .actionBtn img {
        height: 60%;
        width: 60%;
    }
}

@media (min-width: 480px) and (max-width: 600px){
    .allSubjectMain{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .allSubjectMain h2 {
        font-size: 1.7rem;
    }

    .allSubjectTable {
        max-width: 100vw;
        padding: 0.1rem;
    }

    .adminSubjectTableHead {
        min-width: 8vw;
        padding: 0.5rem 0.2rem;
        font-size: 0.8rem;
    }

    .adminSubjectTableData {
        min-width: 8vw;
        padding: 0.5rem 0.2rem;
        /* text-align: center; */
        font-size: 0.7rem;
    }

    .tablePageButtons{
        padding: 0.5rem;
        margin: 0.2rem;
    }
    .nAndpButtons {
        margin: 0.2rem 1rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .pageNoDetails {
        margin: 0.2rem 1rem;
        padding: 0.2rem;
        font-size: 1rem;
    }

    .tableActions {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .actionBtn {
        height: 0.4rem;
        width: 0.4rem;
    }

    .actionBtn img {
        height: 60%;
        width: 60%;
    }
}

/* @media (min-width: 600px) and (max-width: 800px){
    .allSubjectMain{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .allSubjectMain h2 {
        font-size: 1.6rem;
    }

    .allSubjectTable {
        max-width: 100vw;
        padding: 0.1rem;
    }

    .adminSubjectTableHead {
        min-width: 8vw;
        padding: 0.5rem 0.2rem;
        font-size: 0.8rem;
    }

    .adminSubjectTableData {
        min-width: 8vw;
        padding: 0.5rem 0.2rem;
        font-size: 0.7rem;
    }

    .tablePageButtons{
        padding: 0.5rem;
        margin: 0.2rem;
    }
    .nAndpButtons {
        margin: 0.2rem 1rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .pageNoDetails {
        margin: 0.2rem 1rem;
        padding: 0.2rem;
        font-size: 1rem;
    }

    .tableActions {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .actionBtn {
        height: 0.4rem;
        width: 0.4rem;
    }

    .actionBtn img {
        height: 60%;
        width: 60%;
    }
} */

/* @media (min-width: 800px) and (max-width: 1024px){

} */

/* @media (min-width: 1024px) and (max-width: 1281px){

} */


