.AdminDashboard{
    background-image: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1060&t=st=1700814703~exp=1700815303~hmac=6a310d20b0d0df6346466b04ff048f2ba29a16b8542deea3b3b8e2041e1219cd');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #000;
    width: 100vw;
    height: 85vh;
}
.dashboardMainContainer {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.adminMain{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 48vw;
    text-align: center;
}

.adminMain div {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.adminMain div:hover {
    color: #d2e9f9;
    background-color: #030955;
}

.adminExtra {
    /* border: 1px solid green; */
    max-width: 48vw;
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
}

.adminExtra div {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.adminExtra div:hover {
    color: #d2e9f9;
    background-color: #030955;
}

.styleHr {
    border: 1px solid black;
}

/* Responsive Design CSS */
@media (min-width: 320px) and (max-width: 479px) {
    .AdminDashboard{
        background-image: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1060&t=st=1700814703~exp=1700815303~hmac=6a310d20b0d0df6346466b04ff048f2ba29a16b8542deea3b3b8e2041e1219cd');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        height: 88vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .dashboardMainContainer {
        height: 86vh;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .admin-479px {
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: repeat(2, auto);
        max-width: 80vw;
        max-height: 40vh;
        text-align: center;
    }

    .admin-479px div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.8rem;
        padding: 0.8rem;
        border: 2px solid black;
        border-radius: 0.4rem;
        font-weight: 500;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .admin-479px div:hover {
        color: #d2e9f9;
        background-color: #030955;
    }
}

@media (min-width: 479px) and (max-width: 599px){
    .AdminDashboard{
        background-image: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1060&t=st=1700814703~exp=1700815303~hmac=6a310d20b0d0df6346466b04ff048f2ba29a16b8542deea3b3b8e2041e1219cd');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        height: 88vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .dashboardMainContainer {
        height: 86vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .adminMain {
        /* border: 1px solid green; */
        /* display: grid;
        grid-template-columns: repeat(1, auto); */
        max-width: 96vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .adminMain div {
        display: flex;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0.4rem;
        font-weight: 500;
        font-size: 1.2rem;
        cursor: pointer;
        text-align: center;
    }

    .adminMain div:hover {
        color: #d2e9f9;
        background-color: #030955;
    }

    .adminExtra {
        /* border: 1px solid green; */
        /* display: grid;
        grid-template-columns: repeat(1, auto); */
        max-width: 90vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .adminExtra div {
        margin: 1rem;
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0.4rem;
        font-weight: 500;
        font-size: 1.2rem;
        cursor: pointer;
        text-align: center;
        width: 60%;
    }

    .adminExtra div:hover {
        color: #d2e9f9;
        background-color: #030955;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .AdminDashboard{
        background-image: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1060&t=st=1700814703~exp=1700815303~hmac=6a310d20b0d0df6346466b04ff048f2ba29a16b8542deea3b3b8e2041e1219cd');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        height: 88vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .dashboardMainContainer {
        height: 60vh;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .adminMain {
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: repeat(1, auto);
        max-width: 40vw;
        max-height: 40vh;
        text-align: center;
    }

    .adminMain div {
        display: flex;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0.4rem;
        font-weight: 500;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .adminMain div:hover {
        color: #d2e9f9;
        background-color: #030955;
    }

    .adminExtra {
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: repeat(1, auto);
        max-width: 60vw;
        max-height: 40vh;
        text-align: center;
    }

    .adminExtra div {
        margin: 1rem;
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0.4rem;
        font-weight: 500;
        font-size: 1.4rem;
        cursor: pointer;
        text-align: center;
    }

    .adminExtra div:hover {
        color: #d2e9f9;
        background-color: #030955;
    }
}