.teacherDashboard {
    /* background-image: url('https://c0.wallpaperflare.com/preview/751/2/550/chart-graph-business-finance.jpg'); */
    background-image: url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* background-image: url('https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462431_1280.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 85vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.styleHr {
    border: 1px solid black;
}

.teacherContentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 98vw;
    padding: 1rem;
    max-height: 80vh;
    /* border: 1px solid red; */
}

.teacherDetailContainer {
    /* border: 1px solid orange; */
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem;
    /* border-right: 2px solid orangered; */
    border-left: 2px solid orangered;
}

.teacherDetailContainer h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.2rem;
}

.teacherFeature {
    /* border: 1px solid orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacherMain {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    text-align: center;
    /* border: 1px solid blue; */
    margin: 1rem;
}

.teacherMain div {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid black;
    max-height: 20vh;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teacherMain div:hover {
    color: #d2e9f9;
    background-color: #030955;
    border-color: #030955;
}

.teacherExtra {
    margin: 1rem;
    padding: 1rem;
    /* border: 1px solid darkmagenta; */
    /* border-radius: 0.4rem; */
    font-weight: 500;
    font-size: 1.2rem;
    /* cursor: pointer; */
}

.teacherExtra div {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.teacherExtra div:hover {
    color: #d2e9f9;
    background: #030955;
    border-color: #030955;
}

/* Responsive CSS */
@media (min-width: 320px) and (max-width: 480px) {
    .teacherDashboard {
        background-image: url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        width: 100vw;
        min-height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow-y: visible;
    }

    .styleHr {
        border: 1px solid black;
    }

    .teacherContentContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 98vw;
        margin: 0 1rem;
        padding: 0.5rem;
        /* max-height: 80vh; */
        /* border: 1px solid red; */
    }

    .teacherDetailContainer {
        /* border: 1px solid orange; */
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
        padding: 0.5rem;
        border-left: 2px solid orangered;
    }

    .teacherDetailContainer h1 {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0.2rem;
    }

    .teacherFeature {
        /* border: 1px solid orangered; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .teacherMain {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0.5rem;
        text-align: center;
        /* border: 1px solid blue; */
        margin: 1rem;
    }

    .teacherMain div {
        /* margin: 0.5rem; */
        padding: 0.5rem;
        border: 2px solid black;
        max-height: 20vh;
        border-radius: 0.4rem;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teacherMain div:hover {
        color: #d2e9f9;
        background-color: #030955;
        border-color: #030955;
    }

    .teacherExtra {
        margin: 0.5rem;
        padding: 0.5rem;
        /* border: 1px solid darkmagenta; */
        /* border-radius: 0.4rem; */
        font-weight: 500;
        font-size: 1.2rem;
        /* cursor: pointer; */
    }

    .teacherExtra div {
        margin: 1rem;
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0.4rem;
        font-weight: 500;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .teacherExtra div:hover {
        color: #d2e9f9;
        background: #030955;
        border-color: #030955;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .teacherDashboard {
        background-image: url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        width: 100vw;
        min-height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow-y: visible;
    }

    .styleHr {
        border: 1px solid black;
    }

    .teacherContentContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 98vw;
        margin: 0 1rem;
        padding: 0.5rem;
        /* max-height: 80vh; */
        /* border: 1px solid red; */
    }

    .teacherDetailContainer {
        /* border: 1px solid orange; */
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
        padding: 0.5rem;
        border-left: 2px solid orangered;
    }

    .teacherDetailContainer h1 {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0.2rem;
    }

    .teacherFeature {
        /* border: 1px solid orangered; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .teacherMain {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0.5rem;
        text-align: center;
        /* border: 1px solid blue; */
        margin: 1rem;
    }

    .teacherMain div {
        /* margin: 0.5rem; */
        padding: 0.5rem;
        border: 2px solid black;
        max-height: 20vh;
        border-radius: 0.4rem;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teacherMain div:hover {
        color: #d2e9f9;
        background-color: #030955;
        border-color: #030955;
    }

    .teacherExtra {
        margin: 0.5rem;
        padding: 0.5rem;
        /* border: 1px solid darkmagenta; */
        /* border-radius: 0.4rem; */
        font-weight: 500;
        font-size: 1.2rem;
        /* cursor: pointer; */
    }

    .teacherExtra div {
        margin: 1rem;
        padding: 1rem;
        border: 2px solid black;
        border-radius: 0.4rem;
        font-weight: 500;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .teacherExtra div:hover {
        color: #d2e9f9;
        background: #030955;
        border-color: #030955;
    }
}