.teacherDashboard {
    background-image: url('https://c0.wallpaperflare.com/preview/751/2/550/chart-graph-business-finance.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 85vh;
    box-sizing: border-box;
}

.logoutButton {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 0.3rem;
}

.logoutButton button {
    cursor: pointer;
    font-weight: 500;
}

.styleHr {
    border: 1px solid black;
}

.teacherContentContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    /* align-self: flex-end; */
    align-self: center;
    max-width: 90vw;
    width: 90%;
    padding: 2rem;
    max-height: 80vh;
    /* border: 1px solid red; */
}

.teacherMain {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 30vw;
    width: 90%;
    text-align: center;
    align-self: flex-end;
}

.teacherMain div {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.teacherMain div:hover {
    color: #fff;
    background-color: grey;
    opacity: 0.7;
}

.teacherExtra {
    margin: 1rem;
    padding: 1rem;
    /* border: 2px solid black; */
    /* border-radius: 0.4rem; */
    font-weight: 500;
    font-size: 1.2rem;
    /* cursor: pointer; */
}
.teacherExtra div {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Responsive css */
/* @media */